.header {
    margin-top: 45px;
    margin-bottom: 50px;
    display: flex;
    flex: 1 0 0;
    align-self: stretch;
    width: 1240px;
    height: 68px;
    align-items: center;
    gap: 720.678px;
    margin-left: auto;
    margin-right: auto;

   &__nav {
    display: flex;
    flex: 1 0 0;
    align-self: stretch;
    flex-direction: row;
    }

    &__accueil,
    &__apropos {
        color: #FF6060;
        text-align: right;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 34.224px */

        &:active {
            text-decoration: underline;
          }
    }
    
    &__accueil {
        width: 136px;
        margin-right: 57px;
    }
  
    &__apropos {
        width: 116px;
    } 
  
  }