.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__card a {
        text-decoration: none;
        color: inherit;
    }
    
    
    #banniere{
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        opacity: 0.7;
        background: black;
        mix-blend-mode: darken;
        width: 94%;
        @media screen and (max-width: 1280px){
            width: 95%;
        }
        @media screen and (max-width: 600px){
            height: 111px;
        }

    }
    @media screen and (max-width: 1280px){
        #iMgBando {
        width: 100%;
        height: inherit;
        }
    }
    @media screen and (max-width: 600px){
        #iMgBando {
        width: 100%;
        height: inherit;
        }
    }
    &__imgBandeau {
        width: 100%;
        height: 223px; 
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        opacity: 0.7;
        background: black;

        @media screen and (max-width: 1300px){
            width: -webkit-fill-available;
            height: 223px;
            display: block;
        }

    }
/*     @media screen and (max-width: 600px){
        #iMgBando2 {
        width: 100%;
        height: inherit;
        }
    } */
    #box{
        margin-top: 43px;
        width: 1240px;
        height: 829px;
        margin-right: auto;
        margin-left: auto;
        @media screen and (max-width: 1300px){
            width: 95%;
        }
    }
    &__background {
        width: 1240px;
        background-color: #f6f6f6;
        border-radius: 25px;
        @media screen and (max-width: 800px){
                height: 6170px;
        }
        @media screen and (max-width: 1300px){
            width: 100%;
            height: 3827px;
        }
    }

    &__cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 50px;
        padding-top: 56px;
        padding-left: 50px;
        padding-bottom: 43px;

        @media screen and (max-width: 1300px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 1%;
            padding-left: 0;
            justify-items: center;
        }
        @media screen and (max-width: 860px){
            display: grid;
            grid-template-columns: none;
            justify-items: center;
        }
    }
      
    &__card {
        position: relative; 
        width: 340px;
        height: 340px; 
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
        overflow: hidden;
        @media screen and (max-width: 860px){
            width: 90%;
            height: 255px;
        }

        &Img {
            width: 100%; 
            height: 100%;
            object-fit: cover; 
        }

        &Title {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: left;
            padding: 10px;
            color: #FFF;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%;
        }
    }

/*     &__cardImg{
        max-width: 340px;
        max-height: 340px;
        border-radius: 10px;
    } */
      
    &__banner {

        position: relative;
      
    }

      
    &__banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
        color: #FFF;
        font-family: Montserrat;
        font-size: 42px;
        font-style: normal;
        font-weight: 500;
        line-height: 68.448px;
        @media screen and (max-width: 800px){
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 24px */
        }
    }
}

